@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&family=Roboto:wght@100&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #DB74FF;
    --cor-terciaria: #F6F6F6;
    --fonte-principal:'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);

}
.cabecalho {
    padding: 2% 0% 0% 10%; 
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--cor-secundaria);
    text-decoration: none;
}

.imagem{
    padding: 2%;
    width: 580px;
    height: 520px;
    margin-top: -250px;
    margin-left: 150px;
    
}
.presentation {
    padding: 4% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    
}

.presentation__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.presentation__conteudo__paragrafo{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.presentation__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentation__subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;

}

.presentation__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #DB74FF;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    
}
.presentation__links__link:hover{
    background-color: #272727;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400px;
}

a {
    color: var(--cor-terciaria)
}

.cor{
    color: var(--cor-secundaria);
}


.container {
    padding: 4% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo{
    width: 100%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    font-size: 25px;
    font-family: var(--fonte-secundaria);
    
}

.titulo {
    color: var(--cor-terciaria);
    font-family: var(--fonte-principal);
    font-size: 1.8rem;
    padding: 5%;
    
}

.escorpo {
    font-family: var(--fonte-secundaria);
    text-align: justify;

}


@media (max-width: 1200px) {
    body {
        position: relative;
    }

    .imagem {
        width: 86%;
        height: 41%;
        position: absolute;
        top: 145%;
        right: 0%;
    }

    .cabecalho {
        padding: 10%
    }

    .cabecalho__menu{
        justify-content: center;
    }


    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .presentation__conteudo {
        min-width: unset;
        width: auto;

    }

    .presentation_links {
        margin: 0px 0px 400px 0px;
    }
    
    
}
